<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DJW | Digital Professional</title>
        <link rel="stylesheet" href="stylesheet/normalize.css">
    </head>
    <body>
        <header>
            <a href="index.html">
                <h1>David J. Wood</h1>
                <h2>Digital Professional</h2>
            </a>
            <nav>
                <ul>
                    <li><a href="index.html">Portfolio</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div id="wrapper">
        </div>    
        <footer>
            <p>&copy; 2016 David J. Wood.</p>
        </footer>
    </body>
</html>